.projects {
  background-color: #040c18;
  padding-top: 50px;
  color: white;
  padding-bottom: 50px;
}
.card {
  background-color: #002853;
  margin-right: 10px;
  border: #002853 solid 1px;
  border-radius: 0 0 10px 10px;
}
.animation {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-animation: scale-down-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-down-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.card img {
  height: 250px;
}

.card-text {
  color: rgb(211, 211, 211);
  font-size: 0.85em;
}

.card-title,
.card-footer {
  text-align: center;
}
.card-footer a {
  text-decoration: none;
  color: white;
}
.card-footer button {
  width: 45%;
}

.more-projects {
  text-align: center;
  margin-top: 50px;
}
.more-projects a {
  width: 20%;
  color: white;
  padding: 12px;
}
.more-projects a:hover {
  color: #002853;
}
/* animation scale-up-center */

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
