.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-content-image img {
    width: 70%;
    height: 70%;
    border-radius: 54% 46% 48% 52% / 43% 48% 52% 57%;
    background-color: #002853;
  }
  
  .header-content-image {
    width: 40%;
  }

  @media (max-width: 767px) {
    .header-content {
      flex-direction: column;
    }
  }

  @media (min-width: 992px) {
    .header-content-inner p{
      width: 80%;
    }
  }