.header {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 2% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 2% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 2% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 2% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 2% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content-image img {
  width: 70%;
  height: 70%;
  border-radius: 25px;
}

.header-content-image {
  width: 40%;
}

.header-content-inner {
  -webkit-animation: header-content-inner 3s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: header-content-inner 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.header-content-inner h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 15px;
}

@-webkit-keyframes header-content-inner {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes header-content-inner {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
