.experience {
  background: conic-gradient(from 358deg at 100% 41%, #002853 0%, #040c18 100%);
  color: rgb(182, 182, 182);
  font-size: 0.75em;
}

.experience-header {
  display: flex;
  justify-content: center;
  padding: 30px 0 20px 0;
}

.experience-header-title img {
  width: 12%;
  height: 25%;
  margin-right: 10px;
}

@media screen and (max-width: 414px) {
  .experience-header-title img {
    width: 10%;
    height: 20%;
  }
  .experience-header {
    padding: 20px 0 10px 0;
    flex-direction: column;
    width: 100%;
    margin: 0 25%;
  }
}
