html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.gradient-text {
  background: -moz-linear-gradient(90deg, #ae67fa 0%, #f49867 100%);
  background: -webkit-linear-gradient(90deg, #ae67fa 0%, #f49867 100%);
  background: -o-linear-gradient(90deg, #ae67fa 0%, #f49867 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F49867', endColorstr='#AE67FA', GradientType=0 );
  background: -ms-linear-gradient(90deg, #ae67fa 0%, #f49867 100%);

  background: linear-gradient(90deg, #ae67fa 0%, #f49867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 1rem;
}

.education-title {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 0% 23%,
    rgba(174, 103, 250, 1) 0%,
    rgba(244, 152, 103, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 0% 23%,
    rgba(174, 103, 250, 1) 0%,
    rgba(244, 152, 103, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 0% 23%,
    rgba(174, 103, 250, 1) 0%,
    rgba(244, 152, 103, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 0% 23%,
    rgba(174, 103, 250, 1) 0%,
    rgba(244, 152, 103, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 0% 23%,
    rgba(174, 103, 250, 1) 0%,
    rgba(244, 152, 103, 1) 100%
  );
  padding: 2em;
  border-radius: 25px;
}
